body {
  height: 100vh;
  background: linear-gradient(to bottom right, white, rgb(202, 200, 200));
}

.title {
  font-size: large;
}

.full-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.photo-container {
  display: flex;
  height: 100%;
}

.name-text {
  font-size: xx-large;
  height: 20%;
  width: 70%;
}

.about-text {
  height: 20%;
  width: 70%;
  font-size: x-large;
}

img {
  margin: 10px;
}

.socials-container {
  width: 70%;
  margin-top: auto;
  margin-left: 10px;
  border-bottom: 5px black solid;
}