* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border do not affect element width and height */
  }

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 216, 216);
    height: 80px;
}

.navbar-btn {
    display: flex;
    width: 16vw;
    height: 50px;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(33, 45, 59);
    text-decoration: none;
    color: white;
    font-size: large;
    cursor: pointer;
}

.navbar-btn:hover {
    background-color: black;
}

a {
    text-decoration: none;
}

