@media print {
    @page {
        size: letter portrait;
    }

    .sticker-design{
        display: none !important;
    }

    .design-sticker {
        display: none !important;
    }

    .save-btn {
        display: none !important;
    }

    .sticker-select {
        display: none !important;
    }

    .next-btns {
        display: none !important;
    }

    .sticker-sheet {
        display: grid !important;
    }

    .sticker-search {
        display: none !important;
    }

    .sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4in;
        height: 1.34in;
        background: white;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    body {
        min-height: 0vh;
        margin: 0;
        padding: 0;
    }
}

.sticker-container {
    
}

.sticker-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
}

.sticker-sheet {
    display: none;
    height: auto;
    margin-top: 21mm;
    margin-bottom: 21mm;
    margin-left: 4mm;
    grid-template-columns: repeat(2, 4in);
    grid-template-rows: repeat(7, 1.34in);
    column-gap: 5mm;
    row-gap: 0in;
}

.design-sticker {
    display: flex;
    padding-left: 5px;
    border-radius: 5px;
    height: 1.35in;
    width: 4in;
    background: white;
    align-items: center;
}

.sticker {
    border-radius: 5px;
    padding-left: 5px;
    display: flex;
    height: 1.35in;
    align-items: center;
    background: white;
    
}

.img-box {
    margin-left: 5px;
    height: 100px; 
    width: 100px;
}

.info-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.add-box {
    border: none;
    width: 90%;
    height: 50%;
    resize: none;
    margin-bottom: 2px;
    padding-top: 5px;
}

.prod-box {
    border: none;
    width: 90%;
    height: auto;
    font-size: x-large;
    font-weight: 600;
    resize: none; 
    overflow-wrap: break-word;
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.sticker-select {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    row-gap: 4px;
    margin: 5px;
}

.sticker-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.saved-sticker {
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 5px;
    height: 1.35in;
    width: 4in;
    align-items: center;
    justify-content: center;
    background: white;
}

.saved-sticker:hover {
    outline: blue 1px solid;
}

.saved-add-box {
    border: none;
    width: 90%;
    height: 50%;
    resize: none;
    margin-bottom: 2px;
    padding-top: 5px;
    user-select: none;
    pointer-events: none;
}

.saved-prod-box {
    border: none;
    width: 90%;
    height: auto;
    font-size: x-large;
    font-weight: 600;
    resize: none; 
    overflow-wrap: break-word;
    white-space: pre-wrap; 
    word-wrap: break-word;
    user-select: none;
    pointer-events: none;
}

.next-btns {
    display: flex;
    flex-direction: row;
    width: 100vw;

}