@media print {
    @page {
        size: letter portrait;
    }

    .sticker-design{
        display: none !important;
    }

    .design-sticker {
        display: none !important;
    }

    .sticker-sheet {
        display: grid !important;
    }

    .sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4in;
        height: 1.34in;
        background: white;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    body {
        min-height: 0vh;
        margin: 0;
        padding: 0;
    }
}

.sticker-container {
    
}

.sticker-design {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    border: 2px solid red;
}
.sticker-sheet {
    display: none;
    height: auto;
    margin-top: 0.84375in;
    margin-bottom: 0.84375in;
    margin-left: 0.15625in;
    margin-right: 0.15625in;
    grid-template-columns: repeat(2, 4in);
    grid-template-rows: repeat(7, 1.34in);
    column-gap: .1875in;
    row-gap: 0in;
}

.design-sticker {
    padding-left: 5px;
    border-radius: 5px;
    display: flex;
    height: 1.35in;
    width: 4in;
    background: white;
    align-items: center;
}
.sticker {
    border-radius: 5px;
    outline: black 1px solid;
    display: flex;
    align-items: center;
    background: white;
}

.img-box {
    margin-left: 5px;
    height: 100px; 
    width: 100px;
}

.info-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.add-box {
    border: none;
    width: 90%;
    height: 50%;
    resize: none;
    margin-bottom: 2px;
    padding-top: 5px;
}

.prod-box {
    border: none;
    width: 90%;
    height: auto;
    font-size: x-large;
    font-weight: 600;
    resize: none; /* prevent manual resizing if you want fixed size */
    overflow-wrap: break-word;
    white-space: pre-wrap; /* preserve line breaks */
    word-wrap: break-word;
}

